In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Loading the data
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.shape

(284807, 31)

In [5]:
credit_card_data.value_counts('Class')# This data is highly unbalanced

Class
0    284315
1       492
dtype: int64

In [6]:
#separating legit and fraud data
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [7]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [8]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [9]:
#Under Sampling Method to handle unbalanced data
#-> Build a sample dataset containing similar distribution of legit and fraud data
legit_sample = legit.sample(n=492)

In [10]:
#Concatenate two dataframe
new_dataset = pd.concat((legit_sample, fraud), axis=0)
new_dataset.to_csv('newcreditcard.csv')
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
103342,68605.0,-2.091103,2.200364,-0.388685,0.929604,-1.122636,-0.568939,-0.833153,1.696426,-0.790193,...,0.337210,0.437446,0.113002,0.045459,-0.256623,-0.311914,-0.473280,-0.061960,2.96,0
229145,145816.0,1.341408,-1.094364,-0.460039,1.479483,-0.863627,-0.183093,-0.167062,-0.014483,0.573358,...,0.462950,0.799034,-0.124326,0.082832,-0.232247,-0.618997,-0.000792,0.012643,300.00,0
235995,148629.0,-1.683028,-1.320588,1.314028,-0.801251,0.565456,-0.046291,1.385198,-0.827296,1.061867,...,-0.034017,0.744084,-0.265625,0.644264,-0.039959,-0.010463,-0.470990,-0.350743,292.00,0
23163,32618.0,-0.302267,0.854921,0.064551,-0.273966,0.250648,0.016442,0.197987,0.555303,-0.518780,...,0.095685,0.027123,-0.161095,-1.046398,-0.141688,0.362931,-0.133750,-0.057504,21.09,0
157586,110093.0,-0.634850,0.919123,2.539489,-0.041697,-0.073111,-0.498297,0.524321,-0.315532,1.552287,...,-0.261901,-0.333930,-0.253565,0.297134,0.180624,-0.763428,-0.212173,-0.139405,1.09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [11]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [12]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94717.587398,-0.026631,-0.093327,0.056114,-0.071076,0.027705,-0.012519,-0.045729,0.027369,0.053962,...,-0.021229,-0.009957,-0.037664,0.052545,0.020465,0.008152,0.009280,0.015779,-0.011743,86.581463
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [13]:
#Splitting into features and labels
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [14]:
#Split into train and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [15]:
Y_test.value_counts()

0    99
1    98
Name: Class, dtype: int64

In [16]:
#Model Training
model = LogisticRegression()

In [17]:
model.fit(X_train, Y_train) #Training data

LogisticRegression()

In [18]:
X_train_prediction = model.predict(X_train)

In [19]:
#Accuracy Score
tr_data_accuracy = accuracy_score(X_train_prediction, Y_train)
tr_data_accuracy #Training data accuracy

0.9263024142312579

In [20]:
X_test_prediction = model.predict(X_test)
te_data_accuracy = accuracy_score(X_test_prediction, Y_test)
te_data_accuracy #Test data accuracy

0.9035532994923858

In [21]:
#Predictive System
features = (141730.0,2.00954904843302,0.23867748319941,-2.51002710819863,0.598093464022663,0.920927046460543,-0.37744887412481,0.066117657819672,-0.0371013473042712,0.479042621245261,-0.90674113558426,1.02444856549054,0.407325557665245,-0.24289443024674,-2.47721283882584,-0.969085224578243,0.634453357825266,1.65405087659903,1.21290909037749,0.127601010114799,-0.0927501420464979,0.0059338243330037,0.27779882254269,-0.0745058536170615,0.081523344018585,0.238433871158837,0.705842531312941,-0.0434650222074718,-0.0196715356409828,12.31)
features_numpy = np.asarray(features)
features_reshaped = features_numpy.reshape(1,-1)
prediction = model.predict(features_reshaped)
if prediction[0]== 0:
    print('Transaction is legit')
else:
    print('Transaction is fraud')

Transaction is legit